<div>
    Name: @Html.ViewData["test"]
    <br />
    Amount: @Html.ViewData["Amount"]
    <br />
    MF: @Html.ViewData["MF"]
    <br />
    NAVPS: @Html.ViewData["NAVPS"]
    <br />
    SalesLoad: @Html.ViewData["SalesLoad"]
    <br />
    Net Amount: @Html.ViewData["anothertest"]
    <br />
    Shares Bought: @Html.ViewData["SharesB"]
    <br />

</div>
